body{
	background-color: black;
	color: white;
}

h1,p,h2{
	text-align: center;
}

a{
	margin: 0 auto;
	display: block;
	text-align: center;
}

#map{
	height: 400px;
}

#exo1TP3, #projet {
	text-align: center;
}

#porte {
  fill: #FFC300;
}

#porte:hover {
  fill: #900C3F;
}

.day {
  fill: #0CC1F3;
}

.night {
  fill: #D8D8D8;
}